html, body {margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;}
div.game-container {position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;}
                    video.game-background-video {position: absolute;
                                                 top: 0;
                                                 left: 0;
                                                 width: 100%;
                                                 height: 100%;
                                                 object-fit: cover;
                                                 z-index: -1;
                                                 filter: brightness(50%);}
                    h2.random-number-text {position: relative;
                                           display: flex;
                                           justify-content: center;
                                           align-items: center;
                                           text-align: center;
                                           color: white;
                                           font-family: "Orbitron";
                                           margin-top: 100px;}
                    div#randomNumber {position: relative;
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                      text-align: center;
                                      color: white;
                                      font-family: "Orbitron";
                                      font-size: 50px;
                                      margin-top: 80px;}
                    table#tableGame {position: relative; 
                                     margin: auto;
                                     justify-content: center;
                                     align-items: center;
                                     margin-top: 80px;
                                     border-collapse: collapse;
                                     color: white;
                                     font-family: "Orbitron";
                                     background-color: rgba(255, 255, 255, 0.1);}
                    td {border: 1px solid white;
                        padding: 15px;
                        text-align: center;}
                    div#timeDisplay {position: relative;
                                     display: flex;
                                     justify-content: center;
                                     align-items: center;
                                     text-align: center;
                                     font-size: 40px;
                                     margin-top: 80px;}
                    div#scoreDisplay {position: relative;
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                      text-align: center;
                                      font-size: 40px;
                                      font-size: "Orbitron";
                                      color: red;
                                      margin-top: 80px;}