html, body {margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;}
div.home-container {position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;}
                    video.home-background-video {position: absolute;
                                                 top: 0;
                                                 left: 0;
                                                 width: 100%;
                                                 height: 100%;
                                                 object-fit: cover;
                                                 z-index: -1;
                                                 filter: brightness(50%);}
                    h1.slogan-message {position: relative;
                                       display: flex;
                                       justify-content: center;
                                       align-items: center;
                                       text-align: center;
                                       color: white;
                                       font-family: "Orbitron";
                                       margin-top: 200px;}
                    a {text-decoration: none;}
                    button.start-game-btn {position: relative;
                                           display: flex;
                                           justify-content: center;
                                           align-items: center;
                                           text-align: center;
                                           margin: auto;
                                           color: white;
                                           font-family: "Orbitron";
                                           font-weight: 600;
                                           margin-top: 100px;
                                           padding: 20px;
                                           border-radius: 20px;
                                           border: 0px;
                                           background: linear-gradient(90deg, rgb(0, 198, 255) 0%, rgb(0, 114, 255) 100%);
                                           cursor: pointer;
                                           box-shadow: 0px 10px 20px rgba(0, 114, 255, 0.3);
                                           transition: all 0.3s ease;
                                           overflow: hidden;}
                    button.start-game-btn:hover {transform: scale(1.05);
                                                 box-shadow: 0px 15px 30px rgba(0, 198, 255, 0.5);
                                                 background: linear-gradient(90deg, rgb(0, 114, 255) 0%, rgb(0, 198, 255) 100%);}
                    button.start-game-btn:active {transform: scale(0.98);
                                                  box-shadow: 0px 5px 10px rgba(0, 114, 255, 0.4); }
                    